nav.navbar.navbar-dark.bg-dark 
  .container 
    a.navbar-brand(href="#") 
      i.fab.fa-github 
      | Github Profile App
    form.d-flex(action="")
      input.form-control.me-2.search(type="text", placeholder="Enter Username")
      button.btn.btn-outline-success(type="submit") Search
