extends ./pages/layout.pug

block content
  main 
    include ./components/navigation.pug
    .container 
      .row.pt-5
        p.alert.search-alert.alert-danger ERROR 404 NOT FOUND

    include ./components/footer.pug
